form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F7F8FB;
  height: 90vh;
  

  div {
    
    font-size: 20px;
    min-width: 30vw;
  }
}