form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F7F8FB;
  height: 100vh;
  padding-top: 100px;  

  .field {
    font-size: 25px;
    min-width: 300px;
  }
}