.User-account {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 700px;

      .titles {
        line-height: 40px;

        .header {
          font-size: 50px;
        }
  
        .meta {
          font-size: 20px;
          color: gray;
        }
      }

      .status {
        display: flex;
        font-size: 30px;
        line-height: 50px;

        &-user {
          width: 250px;
        }

        .server-message {
          font-size: 25px;
          width: 500px;
          position: relative;
          bottom: 5px;
          height: 120px;
          line-height: 30px;

          p {
            font-size: 20px;
          }
        }
      }

      .actions {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 330px;
    
        input {
          width: 250px;
        }

        &-button {
          font-size: 25px;
          width: 300px;
        }
      }
    }
  }
}