.Users-list {
  background: rgb(253, 190, 203);
  padding: 2vmin;

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: gray;
    min-height: 90vh;
    align-content: flex-start;
  }
}